<header class="md-header lmh-header" data-md-component="header">
  <nav class="md-header__inner md-grid" aria-label="Header">
    <label class="md-header__button md-icon" for="__drawer" aria-label="Navigation">
      {% include ".icons/lucide/menu.svg" %}
    </label>
    <a href="{{ nav.homepage.url | url }}" class="lmh-brand" aria-label="Lint My Headers home">
      <span class="lmh-brand__mark" aria-hidden="true">{% include ".icons/lucide/file-check-2.svg" %}</span>
      <span class="lmh-brand__name">lint my headers</span>
    </a>
    <div class="md-header__title" data-md-component="header-title">
      <div class="md-header__ellipsis">
        <div class="md-header__topic"><span class="lmh-header__label">Documentation</span></div>
        <div class="md-header__topic" data-md-component="header-topic"><span class="lmh-header__label">{{ page.title }}</span></div>
      </div>
    </div>
    <label class="md-header__button md-icon" for="__search" aria-label="Search">
      {% include ".icons/lucide/search.svg" %}
    </label>
    {% include "partials/search.html" %}
    {% include "partials/palette.html" %}
    {% include "partials/javascripts/palette.html" %}
    <a href="{{ config.repo_url }}" class="lmh-header__github" aria-label="View Lint My Headers on GitHub">
      {% include ".icons/simple/github.svg" %}<span>GitHub</span>
    </a>
  </nav>
</header>
