{% import "partials/nav-item.html" as item with context %}
<nav class="md-nav md-nav--primary" aria-label="Navigation" data-md-level="0">
  <label class="md-nav__title" for="__drawer">
    <span class="lmh-brand__mark" aria-hidden="true">{% include ".icons/lucide/file-check-2.svg" %}</span>
    Lint My Headers
  </label>
  <div class="lmh-nav__label">Documentation</div>
  <ul class="md-nav__list" data-md-scrollfix>
    {% for nav_item in nav.items %}
      {% set path = "__nav_" ~ loop.index %}
      {{ item.render(nav_item, path, 1) }}
    {% endfor %}
  </ul>
  <div class="lmh-nav__note">
    <span class="lmh-nav__label">Source &amp; release</span>
    <p>These docs follow <code>main</code>. Install from source for all nine languages.</p>
    <a href="{{ 'getting-started/' | url }}">Choose an installation <span aria-hidden="true">&rarr;</span></a>
  </div>
  <a class="lmh-nav__help" href="{{ config.repo_url }}/issues">Questions or feedback <span aria-hidden="true">{% include ".icons/lucide/arrow-up-right.svg" %}</span></a>
</nav>
